.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin-top: 3vw;
}
.buttonContainer {
    justify-content: baseline;
    height: 100vh;
    align-items: baseline;
    margin-bottom: 3vw;
    margin-right: 3vw;
}

.popupBox {
    width: 43vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    padding: 2vw;
    border-radius: 2vh;
    text-align: center;
    color: rgb(251, 251, 251);
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    align-items: center;
    z-index: 100;
}

.heading {
    font-size: 2.5vw;
    color: rgb(251, 251, 251);
    text-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
        0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
    padding: 0;
}

.subheading {
    font-size: 2vw;
    color: rgb(251, 251, 251);
    text-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
        0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
    padding: 0;
}

.description {
    font-size: 1vw;
    color: rgb(251, 251, 251);
}

.aboutButton {
    position: absolute;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    width: 3.5vw;
    height: 3.5vw;
    color: rgb(251, 251, 251);
    box-shadow: 0 0 0.4vw #646464, 0 0 0.4vw #646464, 0 0 0.4vw #646464;
    background-color: transparent;
    bottom: 3vw;
    right: 3vw;
    z-index: 50;
}