.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  align-items: center;
  margin-top: 3vw;
}

.popupBox {
  width: 54vw;
  height: 11vw;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  padding: 2vw;
  border-radius: 2vh;
  text-align: center;
  color: rgb(251, 251, 251);
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  align-items: center;
  z-index: 100;
}

.heading {
  font-size: 2.5vw;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
    0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
  padding: 0;
}

.dropDownContainer {
  display: flex;
  flex-direction: row;
  color: rgb(251, 251, 251);
  margin: 0.2vw;
  gap: 2vw;
  padding-top: 1vw;
  font-size: 1vw;
}

.dropDownContainer select {
  font-size: 1vw;
  border-radius: 1vw;
  width: 9vw;
  height: 2vw;
  padding: 0.5vh;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  width: 8vw;
  height: 2vw;
  margin-top: 1vw;
  color: rgb(251, 251, 251);
  box-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
    0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
  background-color: rgba(251, 251, 251, 0.4);
}

.sliderStyle {
  margin-top: -1.3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  color: white;
}

.size {
  width: 8vw;
}

.bright {
  width: 11vw;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  width: 8vw;
  height: 2vw;
  color: rgb(251, 251, 251);
  box-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
    0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
  background-color: rgba(251, 251, 251, 0.4);
  outline: none;
}

.wish {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 1vw;
}

.wish p {
  margin-top: -0.5vw;
}

.wishInput {
  border-radius: 1vw;
  width: 9vw;
  height: 1.5vw;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inputAndChars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.characterCount {
  font-size: 1vw;
}
