.shooting-star {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100px;
    height: 2px;
    opacity: 0;
    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));
    animation: shoot 0.8s ease-out;
  }

  @keyframes shoot {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(-120px, 0px) scaleX(100);
      opacity: 0;
    }
  }