.circle {
  border-radius: 50%;
  background-color: white;
  --glow-color: #fffff;
  position: absolute;
}

.smallSize {
  width: 0.5vw;
  height: 0.5vw;
}

.mediumSize {
  width: 0.75vw;
  height: 0.75vw;
}

.largeSize {
  width: 1vw;
  height: 1vw;
}

.smallBright {
  box-shadow: 0 0 1.5vw var(--glow-color), 0 0 3vw var(--glow-color),
    0 0 4vw var(--glow-color);
}

.mediumBright {
  box-shadow: 0 0 1vw var(--glow-color), 0 0 2vw var(--glow-color),
    0 0 3vw var(--glow-color);
}

.largeBright {
  box-shadow: 0 0 0.5vw var(--glow-color), 0 0 1vw var(--glow-color),
    0 0 1.5vw var(--glow-color);
}

@keyframes growAndDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    background-color: rgba(235, 34, 34, 0.685);
    opacity: 1;
  }
  75% {
    transform: scale(2.5);
    background-color: rgba(255, 166, 0, 0.784);
    opacity: 0.5;
  }
  85% {
    transform: scale(3);
    background-color: rgb(244, 207, 139);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.supernova {
  animation: growAndDisappear 3s ease-out forwards;
}
