.circle {
  border-radius: 50%;
  background-color: white;
  --glow-color: #fffff;
  position: absolute;
  z-index: 100;
}

.smallSize {
  width: 0.5vw;
  height: 0.5vw;
}

.mediumSize {
  width: 0.75vw;
  height: 0.75vw;
}

.largeSize {
  width: 1vw;
  height: 1vw;
}

.smallBright {
  box-shadow: 0 0 1.5vw var(--glow-color), 0 0 3vw var(--glow-color),
    0 0 4vw var(--glow-color);
}

.mediumBright {
  box-shadow: 0 0 1vw var(--glow-color), 0 0 2vw var(--glow-color),
    0 0 3vw var(--glow-color);
}

.largeBright {
  box-shadow: 0 0 0.5vw var(--glow-color), 0 0 1vw var(--glow-color),
    0 0 1.5vw var(--glow-color);
}
