.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.5vw;
  left: 1.5vw;
  width: 15vw;
  height: 2vw;
  box-shadow: 0 0 0.4vw #646464, 0 0 0.4vw #646464, 0 0 0.4vw #646464;
  background-color: transparent;
  z-index: 50;
  font-size: 1vw;
  color: white;
  border-radius: 1vw;
}
