.box {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 20vw;
  border-radius: 3vw;
  outline: #fff;
  box-shadow: 0 0 1vw #fff, 0 0 2vw #fff, 0 0 3vw #fff;
  background-color: transparent;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 0.07vw #03030385, 0 0 0.1vw #08080884, 0 0 0.2vw #e6ede6,
    0 0 0.3vw #e6ede6, 0 0 0.3vw #e6ede6, 0 0 0.4vw #e6ede6, 0 0 0.6vw #e6ede6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: showAndHide 3s ease-in;
}

.box h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 5vh;
}

.box p:last-child:after {
  font-size: 0.8em;
  display: block;
  margin-top: 10px;
  opacity: 0.8;
}

@keyframes showAndHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.box h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}